@media (min-width: 1200px) {
  body {
    font-size: 16px;
    background-color: #f7f3e7;
    /*
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #F5EFE3, #FEE9D7 90%, #5cc0d4 100%, #02bdd6);*/
  }
  header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(218, 65, 65);
    font-size: 24px;
    font-size: x-large;
    color: yellow;
    text-align: center;*/
  }
  footer {
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: 0;
    overflow: hidden;
  }
  footer p {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    color: rgb(7, 7, 7);
    font-weight: bold;
    z-index: 2;
  }
  
  footer svg {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  
  footer img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
  }
  aside {
    padding: 3rem 3rem 3rem auto;
  }
  hr {
    border: 1px solid #e0e0e0;
    margin: 1rem 0;
  }
  #containerOrder {
    display: flex;
    flex-direction: row-reverse;
  }
  ul {
    display: flexbox;
    list-style: none;
  }
  .card {
    margin-left: 90px;
    float: left;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    display: flex;
    background-size: cover;
    position: relative; left: 80px; top: -950px;
    text-align: center;
  }
.Gruñón {
    background-image: url(images/cardGruñon.png) !important;
}
.Altanera {
    background-image: url(images/cardAltanera.png);
}
.Deportista {
    background-image: url(images/cardDeportista.png);
}
.Perezoso {
    background-image: url(images/cardPerezoso.png);
}
.Esnob {
    background-image: url(images/cardEsnob.png);
}

.Dulce {
    background-image: url(images/cardDulce.png);
}
.Vivaracha {
    background-image: url(images/cardVivaracha.png);
}
.img {
    height: 200px;
    width: 150px;
    margin-left: 30px;
    margin-top: 1px;
  }
  dl {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  dd {
    width: 50%;
    height: 18px;
    border-radius: 8px;
  }
  dd[itemprop="name"]{
    font-size: 20px;
    font-weight: bold;
    padding-left: 35%;
  }
  /*dd[itemprop="gender"] {
    
    background-size: cover;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }*/
  /*
  .Femenino {
    background-size: cover;
    border-radius: 7px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url(images/female.png);
  }*/
  /*
  .Masculino {
    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url(images/male.png);
  }*/
  dd[itemprop="species"] {
    display: flex;
    float: right; 
    position: relative; left: 40px;
    margin-top: 2px;
  }
  dd[itemprop="birthDate"] {
    display: flex;
    text-align: center;
  }
  dd[itemprop="personality"] {
    padding: auto 1px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-weight: 200;
  }
  dt {
    display: none;
  }
  p {/*la uso para info html*/
    font-size: 20px;
  }
  #info {/*falta centrar el icono al texto*/
    padding: 4px 12px;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 18px;
    border: 1px solid rgb(128, 128, 214);
    cursor: pointer;
    transition: all 0.6s ease; /*para ver mas lento la transicion del color al poner el mouse encima*/
    text-transform: uppercase;
  }
  #info:hover{
    background-color: rgb(54, 190, 210);
    box-shadow: 0 0 20px rgb(117, 110, 110);
  }
  [name="help-circle-outline"] {
  
    font-size: 14px;
  }
  #search {/*contenedor de buscar por nombre*/
    display: flex;
    padding: 1px 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 30%;
    justify-content: end;
  
  }
  [data-testid="button-clearName"] {/*contenedor de buscar por nombre, botón para borrar el nombre*/
    letter-spacing: 2px;
    background-color: rgba(93, 91, 89, 0.3);
    border-radius: 4px;
    font-size: 11px;
    margin: 2px;
  }
  label {/*contenedor de buscar por nombre, input del texto*/
    font-size: 14px;
    padding: 1px 4px;
  }
  #personage { /*h2 titulo personajes*/
    margin: 6px;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid black;/*línea divisora entre personajes y buscar*/
  }
  .container-nav{ /*contenedor de los filtros*/
    position: sticky;
    line-height: 30px;/*espaciado entre palabras en los filtros*/
  }
  label[for=filter], label[for=filterForSpecies], label[for=filterForPersonality] {/*grosor de letras*/
    font-weight: 800; 
  }
  /*
  [data-testid="select-filterGender"] {/*filtro por genero*
    top: 100px;
    bottom: 0;
    right: 0;
    left: 200px;
    font-size: 1em;
    list-style: none;
    /*border-top: 1px solid black;*
    margin-top: 4px;/*separado de arriba*
    margin-bottom: 12px; /*separado entre los apartados género, especie*
    margin-left: 8px;/*espacio a la izquierda*
    margin-right: 80%;/*espacio a la derecha checar porque solo funciona con porcentaje*
  }
  [data-testid="select-filter"] {/*filtro por especies*
    top: 100px;
    bottom: 0;
    right: 0;
    left: 200px;
    font-size: 1em;
    list-style: none;
    /*border-top: 1px solid black;*
    margin-top: 4px;/*separado de arriba*
    margin-bottom: 12px; /*separado entre los partados género, especie*
    margin-left: 8px;/*espacio a la izquierda*
    margin-right: 80%;/*espacio a la derecha checar porque solo funciona con porcentaje*
  }
  [data-testid="select-filterPersonality"] {
    top: 100px;
    bottom: 0;
    right: 0;
    left: 200px;
    font-size: 1em;
    list-style: none;
    /*border-top: 1px solid black;*
    margin-top: 4px;/*separado de arriba*
    margin-bottom: 12px; /*separado entre los partados género, especie*
    margin-left: 8px;/*espacio a la izquierda*
    margin-right: 80%;/*espacio a la derecha checar porque solo funciona con porcentaje* 
  }*/
  [data-testid="button-clear"] {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 6px 12px;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
  }
  /*#root ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  dd[itemprop]{
    box-sizing: content-box;
    width: 180px;
    display: flex;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*
    flex: 1;
    justify-content: center;
    background-color: rgb(248, 106, 182);
  }
  #root dl img {
    width: 100%;
    height: auto;
    background: url(images/cardDulce.png);
    background-size: cover;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
  }
  dt {/*quitar valores nombre, genero, etc*
    display: none;
  }*/
  .content-modal {
    display: none;  
    position: fixed;
    z-index: 1;  
    padding-top: 200px;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.5);
}
  #page {
    font-size: 28px;
    font-weight: 800 ;
  }
  .buttonOpenModal{
    cursor: pointer;
    justify-content: center;
    float: left;    
    font-size: 50px;
  }
  #close {
    cursor: pointer;
  }
  
  /*
  #openModal {
    border-radius: 8px;
    cursor: pointer;
    background: rgba(78, 76, 76, 0.3);
    font-size: 30px;
    display: flex;
    position: relative; top: -1150px; left: -600px;
  }
  .content-modal {
    display: none;
    padding: 20px;
    align-items: center;
  }
  #centerModal {
    flex-direction: row-reverse;
  }
  #close {
    font-size: 28px;
  }*/
  #seeMoreModal {/*para quitar el borde y subrayar el texto del boton*/
    color: blue;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    float: right;
  }
  }
