* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    background-color: bisque;
}
img {
    width: 150px;
    height: 200px;
}
h1 {
    color: rgb(164, 116, 219);
    text-align: center;
}
footer {
    color: gray;
    text-align: end;
}
p {
    font-size: 14px;
}
/*esta hoja de estilos queda adaptada a celular*/

li {
    display: inline-block;
    list-style: none;
    width: 200px;
    height: 200px;
    margin: 20px;
    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;*/
}